In [1]:
import PyPDF2 
import time
import pandas as pd
import tabula
import os

#change directory to where pdf is saved
os.chdir('C:\\Users\\Taha\\Desktop')
os.getcwd()

pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', None)


def findCutoff(category,page_no):
    
    df2 = tabula.read_pdf("college_cutoffs.pdf",pages=[page_no+1])
    rank=""
    for k in range(0,len(df2)):
        if(category=='GOPENH' or category =='GOPENS'):
            if('GOPENH' in df2[k]):
                rank=df2[k]['GOPENH'][0]
                break
            elif ('GOPENS' in df2[k]):
                rank=df2[k]['GOPENS'][0]
                break
        else:
            if(category in df2[k]):
                rank=df2[k][category][0]
                break
    rank=rank.split("\r")
    return rank[0]

def findColleges(category):
    
    pdfFileObj = open('college_cutoffs.pdf', 'rb') 
    pdfReader = PyPDF2.PdfFileReader(pdfFileObj) 
    count=0
    df=pd.DataFrame(columns=['clg_id','name','cutoff'])
    
    for i in range(1,pdfReader.numPages):
        print(f'Scanning Page : {i+1}\r', end="")
        pageObj = pdfReader.getPage(i) 
        page=pageObj.extractText()
        res = [i for i in range(len(page)) if page.startswith("Savitribai Phule", i)]


        for j in range(0,len(res)):

            if(res!=[]):
                s_ind=res[j]

                while(1):

                    if page[s_ind:s_ind+6]=="Status":
                        break
                    s_ind=s_ind-1

                branch=page[s_ind-18:s_ind-1] 


                if(branch=="Civil Engineering"):
                    #print("Page No. : ",i+1)
                    course_id=page[s_ind-30:s_ind-21]
                    clg_id=course_id[0:4]
                    #print("College ID : ",clg_id)
                    name_ind=s_ind-31

                    while(1):

                        if page[name_ind:name_ind+4]==clg_id:
                            #print("College Name : ",page[name_ind+7:s_ind-31])
                            break
                        name_ind=name_ind-1

                    rank=findCutoff(category,i)
                    if(rank!=""):
                        df.loc[df.shape[0]]=[clg_id,page[name_ind+7:s_ind-31],rank]
                        count=count+1



    print("Total Records Found : ",count)

    df[['cutoff']] = df[['cutoff']].apply(pd.to_numeric)
    sdf=df.sort_values(['cutoff'])
    sdf.reset_index(inplace=True,drop=True)
    top_10_civil=sdf.head(10)
    display(top_10_civil)

In [2]:
category=input("Enter a valid category : ")
findColleges(category)

Enter a valid category : GOPENH
Total Records Found :  76

  clg_id                                                                                                              name  cutoff
0   6006                                                                                       College of Engineering, Pun    1255
1   6004                                                       Government College of Engineering & Research, Avasari Khurd   12456
2   6175                                   Pimpri Chinchwad Education Trust, Pimpri Chinchwad College of Engineering, Pune   12971
3   6289                                  B.R.A.C.T's Vishwakarma Institute of Information Technology, Kondhwa (Bk.), Pune   14178
4   6146                                                                           MIT Academy of Engineering,Alandi, Pune   16173
5   5121                                                K. K. Wagh Institute of Engineering Education and Research, Nashik   22937
6   6325                                       Alard  Charitable Trust's Alard College of Engineering and Management, Pune   23543
7   5401                               Jawahar Education Society's Institute of Technology, Management & Research, Nashik.   27370
8   6278                                            All India Shri Shivaji Memorial Society's College of Engineering, Pune   28635
9   5184  Amruta Vaishnavi Education & Welfare Trust's Shatabdi Institute of Engineering & Research, Agaskhind Tal. Sinnar   32066

In [3]:
category=input("Enter a valid category : ")
findColleges(category)

Enter a valid category : GSCS
Total Records Found :  5

  clg_id                                                                                       name  cutoff
0   6006                                                                College of Engineering, Pun    5571
1   6146                                                    MIT Academy of Engineering,Alandi, Pune   24483
2   6289           B.R.A.C.T's Vishwakarma Institute of Information Technology, Kondhwa (Bk.), Pune   28518
3   6141  Jaywant Shikshan Prasarak Mandal's,Rajarshi Shahu College of Engineering, Tathawade, Pune   54394
4   5160             Sanjivani Rural Education Society's Sanjivani College of Engineering, Kopargao   76093